.feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 25px;  
    margin-top: 25px;

}

.text {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.statistics {
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
    text-align: center;
}